In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

SERIES
- Is a one-dimensional *labeled* array. 
- Can hold any data type.
- Has an *index* which is a special axis that contains the *labels*

DATAFRAME
- is a 2-dimensional labeled data structure with *columns*.
- is a dict of Series.
- The common *index* is the union of all Series' indeces.

SERIES

`pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

`series.head()`=> Pretty prints first 5 rows.

`series.index()`

DATAFRAME

`pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)` 

`df.index`

`df.columns`

`df.dropna()` => Drops rows with empty values.

`df.info()`

`df.to_string()`

INDEXING, ADDING AND REMOVING

`del df[colname]`

`df.drop(columns=None, index=None, inplace=False)`

`df.insert(location, column, value, allow_duplicates=False)`

`df.iloc[numerical position]` => Returns row

`df.loc[rowname]` => Returns row

# SERIES

In [3]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.534923
b   -1.355510
c   -1.258817
d    2.612431
e    1.253869
dtype: float64

In [4]:
# one can extract the index
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

## CREATION OF SERIES

In [5]:
# Dictionaries
pd.Series({'pens': 3, 'stamps': 0, 'paper': 2, 'pencils':5})

pens       3
stamps     0
paper      2
pencils    5
dtype: int64

In [7]:
# Arrays
pd.Series(np.random.randn(5))

0   -0.242795
1   -0.213932
2    0.339017
3    1.732313
4    0.169465
dtype: float64

## INDEXING

In [8]:
s = pd.Series({'pens': 3, 'stamps': 0, 'paper': 2, 'pencils':5})
print(s[:3])
print(s[[3,1]])
print(s[s> s.median()])

pens      3
stamps    0
paper     2
dtype: int64
pencils    5
stamps     0
dtype: int64
pens       3
pencils    5
dtype: int64

## DEALING WITH NULL VALUES

In [13]:
s[:] + s[2:] # If some indeces are missing result will be NaN

paper       4.0
pencils    10.0
pens        NaN
stamps      NaN
dtype: float64

# DATAFRAME

In [14]:
d = {'BondStreetShop': pd.Series({'pens': 3, 'stamps': 1, 'paper': 2, 'pencils':5}),
     'TrafalgarSquareShop': pd.Series({'pens': 1, 'stamps': 7, 'paper': 4, 'pencils':2, 'erasers':3})}

df = pd.DataFrame(d) 
df

         BondStreetShop  TrafalgarSquareShop
erasers             NaN                    3
paper               2.0                    4
pencils             5.0                    2
pens                3.0                    1
stamps              1.0                    7

In [15]:
df.dropna()

         BondStreetShop  TrafalgarSquareShop
paper               2.0                    4
pencils             5.0                    2
pens                3.0                    1
stamps              1.0                    7

## CREATING DATAFRAMES

In [17]:
pd.DataFrame({'Col1': np.arange(4), 'Col2': 3-np.arange(4)})
pd.DataFrame({'Col1': [1., 2., 3., 4.,.5,.3], 'Col2': [4., 3., 2., 1.,.3,.2]})
pd.DataFrame(np.random.randint(10, size=(3,4)))

   0  1  2  3
0  2  9  0  3
1  9  9  7  1
2  7  4  3  1

## INDEXING AND MANIPULATING COLUMNS

In [23]:
df = pd.DataFrame(np.random.randint(10, size=(3,4)), index =['a','b','c'], columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
a  1  7  9  9
b  0  9  8  0
c  8  5  4  2

## Indexing

In [24]:
df['A']['a'] == df.A.a

True

## Adding

In [25]:
df['E'] = df['A'] + df['B']
df.head()

   A  B  C  D   E
a  1  7  9  9   8
b  0  9  8  0   9
c  8  5  4  2  13

In [30]:
df['E'] = 3
df.head()

   A  B  C  D  E
a  1  7  9  9  3
b  0  9  8  0  3
c  8  5  4  2  3

In [32]:
df['E'] = np.arange(len(df.index))
df.head()

   A  B  C  D  E
a  1  7  9  9  0
b  0  9  8  0  1
c  8  5  4  2  2

## Removing

In [26]:
del df['E']
df.head()

   A  B  C  D
a  1  7  9  9
b  0  9  8  0
c  8  5  4  2

In [27]:
df.drop(columns=['D','C'])

   A  B
a  1  7
b  0  9
c  8  5

In [28]:
df.head()

   A  B  C  D
a  1  7  9  9
b  0  9  8  0
c  8  5  4  2

In [29]:
df.drop(index='b')

   A  B  C  D
a  1  7  9  9
c  8  5  4  2

In [34]:
df.insert(1,'X',10*np.arange(len(df.index)))
df.head()

   A   X  B  C  D  E
a  1   0  7  9  9  0
b  0  10  9  8  0  1
c  8  20  5  4  2  2

In [35]:
df = pd.DataFrame(np.random.randint(10, size=(5,4)), columns=list('ABCD'), index=list('abcde'))
df

   A  B  C  D
a  0  3  1  1
b  9  9  2  0
c  9  3  9  4
d  6  9  9  5
e  1  2  3  2

In [41]:
# Selecting rows

print(df.loc['b'])
print(10*'-')
print(df.iloc[1]) # The same as above

A    9
B    9
C    2
D    0
Name: b, dtype: int64
----------
A    9
B    9
C    2
D    0
Name: b, dtype: int64

In [42]:
df.loc[['c','d'],['A','B']]

   A  B
c  9  3
d  6  9

In [44]:
df.iloc[[1,2],[1,2]]

   B  C
b  9  2
c  3  9

In [45]:
df['c':'e']

   A  B  C  D
c  9  3  9  4
d  6  9  9  5
e  1  2  3  2

In [51]:
df['a']

KeyError: 'a'

In [50]:
df['a':'b']

   A  B  C  D
a  0  3  1  1
b  9  9  2  0

In [55]:
df.loc[:,'A':'C']

   A  B  C
a  0  3  1
b  9  9  2
c  9  3  9
d  6  9  9
e  1  2  3

In [56]:
df+df

    A   B   C   D
a   0   6   2   2
b  18  18   4   0
c  18   6  18   8
d  12  18  18  10
e   2   4   6   4